<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBGdK5mUjrSgZ7n7uUSvSJTxItKvTo3GNc</string>
	<key>GCM_SENDER_ID</key>
	<string>211804662370</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.daprotSeller</string>
	<key>PROJECT_ID</key>
	<string>daprot-bdd89</string>
	<key>STORAGE_BUCKET</key>
	<string>daprot-bdd89.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:211804662370:ios:95d1043968efe2df213f3b</string>
</dict>
</plist>